
@using BH.Models
@{
    ViewBag.Title = "benq";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";

    BH.Models.CompanyDetailsModel companyDetails = (BH.Models.CompanyDetailsModel)Session["CompanyDetails"];

    if (companyDetails == null)
    {
        companyDetails = BH.BusinessLayer.CompanyDetailsManager.GetCompanyDetails(1);
        Session["CompanyDetails"] = companyDetails;
    }

}
@using System.Collections
@using System.Web.Mvc.Html
@model BH.Models.PublicViewModel
<header class="header header-6">


    @{
        Html.RenderPartial("~/Views/Partial/_HeaderTopMenu.cshtml", Model);
    }
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>
            <div class="header-center">
                <a href="index.html" class="logo">
                    <img src="~/assets/images/demo-logo.png" alt="Logo" width="82" height="20">
                </a>
            </div><!-- End .header-left -->
            <div class="header-right">
                <a href="wishlist.html" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                    <span class="wishlist-count">3</span>
                    <span class="wishlist-txt">My Wishlist</span>
                </a>
                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count">2</span>
                        <span class="cart-txt">$ 164,00</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">Beige knitted elastic runner shoes</a>
                                    </h4>
                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1</span>
                                        x $84.00
                                    </span>
                                </div><!-- End .product-cart-details -->
                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="~/assets/images/products/cart/product-1.jpg" alt="product">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .product -->
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">Blue utility pinafore denim dress</a>
                                    </h4>
                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1</span>
                                        x $76.00
                                    </span>
                                </div><!-- End .product-cart-details -->
                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="~/assets/images/products/cart/product-2.jpg" alt="product">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .product -->
                        </div><!-- End .cart-product -->
                        <div class="dropdown-cart-total">
                            <span>Total</span>
                            <span class="cart-total-price">$160.00</span>
                        </div><!-- End .dropdown-cart-total -->
                        <div class="dropdown-cart-action">
                            <a href="cart.html" class="btn btn-primary">View Cart</a>
                            <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="index.html" class="">Home</a>
                        </li>
                        <li class="megamenu-container">
                            <a href="index.html" class="sf-with-ul">Man's Wear</a>
                            <div class="megamenu demo">
                                <div class="menu-col">

                                    <div class="demo-list">
                                        <div class="demo-item">
                                            <div class="menu-title">A.knitted Wear</div>
                                            <ul>
                                                <li><a href="product.html">T-Shirt</a></li>
                                                <li><a href="product-centered.html">Polo Shirt</a></li>
                                                <li><a href="product-extended.html">Full Sleeve T.Shirt</a></li>
                                                <li><a href="product-gallery.html">Full Sleeve Polo Shirt</a></li>
                                                <li><a href="product-sticky.html">Sweat Shirt</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                        <div class="demo-item">
                                            <div class="menu-title">A.knitted Wear</div>
                                            <ul>
                                                <li><a href="product.html">Half Sleeve Shit</a></li>
                                                <li><a href="product-centered.html">Full Sleeve Formal Shirt</a></li>
                                                <li><a href="product-extended.html">Formal Pant</a></li>
                                                <li><a href="product-gallery.html">ausal Pant</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                        <div class="demo-item">
                                            <div class="menu-title">Denim Wear</div>
                                            <ul>
                                                <li><a href="product-centered.html">Denim Shirt</a></li>
                                                <li><a href="product.html">Denim Pant</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                        <div class="demo-item">
                                            <div class="menu-title">Joger's</div>
                                            <ul>
                                                <li><a href="product.html">Sports T-Shirt(Half Sleeve)</a></li>
                                                <li><a href="product-centered.html">ports T-Shirt(Full Sleeve)</a></li>
                                                <li><a href="product-extended.html">Trousers</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->

                                    </div><!-- End .demo-list -->

                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>
                        <li class="megamenu-container">
                            <a href="index.html" class="sf-with-ul">Ladies's Wear</a>
                            <div class="megamenu demo">
                                <div class="menu-col">

                                    <div class="demo-list">
                                        <div class="demo-item">
                                            <div class="menu-title">Knitted Wear</div>
                                            <ul>
                                                <li><a href="product.html">T-Shirt</a></li>
                                                <li><a href="product-sticky.html">Sweat Shirt</a></li>
                                                <li><a href="product-sticky.html">Long Skart</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                        <div class="demo-item">
                                            <div class="menu-title"><a href="#">3pcs</a></div>

                                        </div><!-- End .demo-item -->
                                        <div class="demo-item">
                                            <div class="menu-title"><a href="#">Shari</a></div>
                                        </div><!-- End .demo-item -->
                                    </div><!-- End .demo-list -->

                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>
                        <li class="megamenu-container">
                            <a href="index.html" class="sf-with-ul">Kid's Wear</a>
                            <div class="megamenu demo">
                                <div class="menu-col">

                                    <div class="demo-list">
                                        <div class="demo-item">
                                            <div class="menu-title">Knitted Wear</div>
                                            <ul>
                                                <li><a href="product.html">T-Shirt</a></li>
                                                <li><a href="product-sticky.html">Polo Shirt</a></li>
                                                <li><a href="product-sticky.html">Sweat Skart</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                        <div class="demo-item">
                                            <div class="menu-title"><a href="#">Woven Wear</a></div>

                                            <ul>
                                                <li><a href="product.html">Formal Shirt</a></li>
                                                <li><a href="product-sticky.html">Formal Pant</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                        <div class="demo-item">
                                            <div class="menu-title"><a href="#">Denim Wear</a></div>
                                            <ul>
                                                <li><a href="product.html">Denim Shirt</a></li>
                                                <li><a href="product-sticky.html">Denim Pant</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                    </div><!-- End .demo-list -->

                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>
                        <li class="megamenu-container">
                            <a href="index.html" class="sf-with-ul">Shoe's</a>
                            <div class="megamenu demo">
                                <div class="menu-col">

                                    <div class="demo-list">
                                        <div class="demo-item">
                                            <ul>
                                                <li><a href="product.html">Men's</a></li>
                                                <li><a href="product-sticky.html">Ladie's</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                    </div><!-- End .demo-list -->

                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>
                        <li class="megamenu-container">
                            <a href="index.html" class="sf-with-ul">Watch</a>
                            <div class="megamenu demo">
                                <div class="menu-col">

                                    <div class="demo-list">
                                        <div class="demo-item">
                                            <ul>
                                                <li><a href="product.html">Men's</a></li>
                                                <li><a href="product-sticky.html">Ladie's</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                    </div><!-- End .demo-list -->

                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>
                        <li class="megamenu-container">
                            <a href="index.html" class="sf-with-ul">Bag</a>
                            <div class="megamenu demo">
                                <div class="menu-col">

                                    <div class="demo-list">
                                        <div class="demo-item">
                                            <ul>
                                                <li><a href="product.html">Men's</a></li>
                                                <li><a href="product-sticky.html">Ladie's</a></li>
                                            </ul>
                                        </div><!-- End .demo-item -->
                                    </div><!-- End .demo-list -->

                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>

                        <li>
                            <a href="#" class="">Shop</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
            </div><!-- End .header-left -->
            <div class="header-right">
                <i class="la la-lightbulb-o"></i>
                <p>Clearance Up to 30% Off</p>
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->


<main class="main">
    <div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{
                        "dots": false,
                        "nav": false,
                        "responsive": {
                            "992": {
                                "nav": true
                            }
                        }
                    }'>
            @{
                Html.RenderPartial("~/Views/Partial/Banner.cshtml", Model);
            }
        </div><!-- End .intro-slider owl-carousel owl-theme -->
        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->
    <div class="pb-3">
        <div class="container brands pt-5 pt-lg-7 ">
            <h2 class="title text-center mb-4">shop by brands</h2><!-- End .title text-center -->
            <div class="owl-carousel owl-simple owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                            &quot;nav&quot;: false,
                            &quot;dots&quot;: false,
                            &quot;margin&quot;: 30,
                            &quot;loop&quot;: false,
                            &quot;responsive&quot;: {
                                &quot;0&quot;: {
                                    &quot;items&quot;:2
                                },
                                &quot;420&quot;: {
                                    &quot;items&quot;:3
                                },
                                &quot;600&quot;: {
                                    &quot;items&quot;:4
                                },
                                &quot;900&quot;: {
                                    &quot;items&quot;:5
                                },
                                &quot;1024&quot;: {
                                    &quot;items&quot;:6
                                }
                            }
                        }">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-199px, 0px, 0px); transition: all 0.4s ease 0s; width: 1398px;">
                        @{ 
                            Html.RenderPartial("~/Views/Partial/Brand.cshtml", Model);
                        }
                    </div>
                </div>
                <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="icon-angle-right"></i></button></div>
                <div class="owl-dots disabled"></div>
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div>
    <!-- end shop by brand -->
    <div class="mb-5"></div>
    <!-- End .mb-5 -->
    <!-- End .container -->


    @{
        Html.RenderPartial("~/Views/Partial/_FeaturedProduct.cshtml", Model);
    }


    <div class="pl-3 pr-3">
        <h2 class="title text-center mb-4 mt-5">New Arrivals</h2><!-- End .title text-center -->
        @{ 
            Html.RenderPartial("~/Views/Partial/NewArrival.cshtml", Model);
        }
        <div class="more-container text-center mt-2">
            <a href="#" class="btn btn-outline-dark-2 btn-more"><span>show more</span></a>
        </div><!-- End .more-container -->
    </div><!-- End .container -->
    <!-- new arrivals end -->
    <div class="mb-5"></div><!-- End .mb-5 -->
    <div class="container">
        <div class="heading heading-center mb-3">
            <h2 class="title">Trending</h2><!-- End .title -->
            @*<ul class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="trending-all-link" data-toggle="tab" href="#trending-all-tab" role="tab" aria-controls="trending-all-tab" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trending-women-link" data-toggle="tab" href="#trending-women-tab" role="tab" aria-controls="trending-women-tab" aria-selected="false">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trending-men-link" data-toggle="tab" href="#trending-men-tab" role="tab" aria-controls="trending-men-tab" aria-selected="false">Men</a>
                </li>
            </ul>*@
        </div><!-- End .heading -->
        <div class="tab-content tab-content-carousel">
            @{ 
                Html.RenderPartial("~/Views/Partial/Trending.cshtml", Model);
            }
           
        </div><!-- End .tab-content -->
    </div><!-- End .container -->
    <div class="mb-5"></div><!-- End .mb-5 -->
    <div class="deal bg-image pt-8 pb-8" style="background-image: url(~/assets/images/demos/demo-6/deal/bg-1.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                @{
                    Html.RenderPartial("~/Views/Partial/Deal.cshtml", Model);
                }
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .deal -->
    <div class="pt-4 pb-3" style="background-color: #fff;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon">
                            <i class="icon-truck"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                            <p>Free shipping for orders over $50</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon">
                            <i class="icon-rotate-left"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                            <p>Free 100% money back guarantee</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon">
                            <i class="icon-unlock"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Secure Payment</h3><!-- End .icon-box-title -->
                            <p>100% secure payment</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon">
                            <i class="icon-headphones"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                            <p>Alway online feedback 24/7</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .bg-light pt-2 pb-2 -->

    <div class="container">
    </div><!-- End .container -->

</main><!-- End .main -->


<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <h4 class="widget-title">about molla</h4><!-- End .widget-title -->
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
                        <div class="social-icons">
                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a href="about.html">About Molla</a></li>
                            <li><a href="#">How to shop on Molla</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="login.html">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->
    <div class="footer-bottom">
        <div class="container">
            <figure class="footer-payments">
                <img src="~/assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
            <img src="~/assets/images/demo-logo.png" alt="Logo" width="82" height="25">
            <p class="footer-copyright">Copyright © All Rights Reserved.</p><!-- End .footer-copyright -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->